* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    margin: .5rem;
}


nav ul {
    display: flex;
    justify-content: space-around;
}

li {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1D3557;
    font-weight: bold;
}